<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
    <header layout:fragment="menu-navbar">
        <nav class="pink darken-1">
            <div class="nav-wrapper"></div>
        </nav>
    </header>
    <section layout:fragment="body">
        <div th:replace="fragments/menu :: menu-logo"></div>
    </section>
</body>

</html>