<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Venda de ingressos</title>
</head>

<body>
    <header layout:fragment="menu-navbar">
        <nav class="pink darken-1">
            <div class="nav-wrapper"></div>
        </nav>
    </header>

    <section layout:fragment="body">
        <div class="body-principal">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card style-table">
                        <div class="card-action center black">
                            <strong><a class="white-text">Venda de ingressos</a></strong>
                        </div>
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col s6 m6">
                                <div class="card" style="display: grid;">
                                    <div class="card-action center black">
                                        <strong><a class="white-text">Sobre o evento</a></strong>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="info-evento-venda col s12">
                                        <form th:object="${eventDTO}">
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{name}" disabled="disabled">
                                                    <label for="icon_prefix">Nome</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{place}" disabled="disabled">
                                                    <label for="icon_prefix">Local</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="dataEvento" type="text" class="validate" th:field="*{date}" disabled="disabled">
                                                    <label for="icon_prefix">Data</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{startTime}" disabled="disabled">
                                                    <label for="icon_prefix">Inicio</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{endTime}" disabled="disabled">
                                                    <label for="icon_prefix">Término</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{capacity}" disabled="disabled">
                                                    <label for="icon_prefix">Ingressos disp.</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{cabinCapacity}" disabled="disabled">
                                                    <label for="icon_prefix">Camarote disp.</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{normalTicketPrice}" disabled="disabled">
                                                    <label for="icon_prefix">R$ Normal</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{vipTicketPrice}" disabled="disabled">
                                                    <label for="icon_prefix">R$ Vip</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input id="icon_prefix" type="text" class="validate" th:field="*{cabinTicketPrice}" disabled="disabled">
                                                    <label for="icon_prefix">R$ Camarote</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m6">
                                <div class="card" style="display: grid;">
                                    <div class="card-action center black">
                                        <strong><a class="white-text">Vender ingresso</a></strong>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="lista-clientes col s6">
                                        <div th:if="${success} != null">
                                        <span class="success-span z-depth-1 col s12" th:text="${success}"></span>
                                        </div>
                                        <div th:if="${error} != null">
                                            <span class="error-span z-depth-1 col s12" th:text="${error}"></span>
                                        </div>
                                        <div class="row">
                                            <form class="col s12" th:action="@{/ticket}" th:object="${ticketDTO}" method="POST">
                                                <div class="row">
                                                    <div class="input-field col s6">
                                                        <input type="text" class="validate" th:field="*{clientName}"
                                                               required="required" size="40" maxlength="40"> <label>Nome completo</label> <span
                                                            class="error-span z-depth-1 center-align col s12"
                                                            th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">Name
                                                        error</span>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input type="text" class="validate" th:field="*{clientCpf}"
                                                               required="required"
                                                               onkeypress="$(this).mask('000.000.000-00');"> <label>CPF</label>
                                                        <span class="error-span z-depth-1 center-align col s12"
                                                              th:if="${#fields.hasErrors('clientCpf')}" th:errors="*{clientCpf}">Name
                                                        error</span>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input id="icon_prefix" type="date" class="validate"
                                                               th:field="*{clientDateOfBirth}" required="required">
                                                        <label for="icon_prefix">Data de nascimento</label>
                                                    </div>
                                                    <div class="input-field col s6 m6">
                                                        <select class="icons" th:field="*{ticketType}" required="required">
                                                            <option th:each="ticketType : ${T(com.kaikeventura.clubdance.domain.ticket.infra.dto.TicketType).values()}" th:value="${ticketType}" th:text="${ticketType.description}"></option>
                                                        </select> <label>Ingresso</label>
                                                    </div>
                                                </div>
                                                <button id="btn-vender-ingresso" type="submit"
                                                        class="waves-effect waves-light btn pink darken-1">
                                                    <i class="material-icons right">border_color</i>Vender
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script layout:fragment="script">
        let dateVariavel = document.getElementById('dataEvento');
        var data = new Date(dateVariavel.value);
        var result = data.toISOString().substr(0, 10).split('-').reverse().join('/');
        console.log(result);
        dateVariavel.value = result;
    </script>

</body>

</html>